*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
.container{
    width: 100%;
    /* height: 100vh; */
}
/* navBar */
.header{
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
    position: fixed;
    top: 0;
}
.header .name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .name .logo{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.header .name .logo img{
    width: 100%;
    height: 100%;
}
.header .name h3{
    text-transform: uppercase;
    color: green;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    margin: 0px 2px;
    padding: 0px 10px;
    padding-bottom: 2px;
    transition: all 0.2s linear;
}
.menu li a{
    text-decoration: none;
    color: #000;
}
.menu .home{
    padding-bottom: 2px;
    border-bottom: 0.1rem solid green;
}
.menu li:hover{
    border-bottom: 0.1rem solid green;
}

.lines .line{
    width: 1.7rem;
    height: 0.15rem;
    background-color: #000;
    margin: 0.3em 0;
    
}
.lines{
    display: none;
    cursor: pointer;
}
.rotate .line:nth-child(1){
    transform: rotate(-45deg) translate(-5px, 4px);
}
.rotate .line:nth-child(2){
    opacity: 0;
}
.rotate .line:nth-child(3){
    transform: rotate(45deg) translate(-5px, -5px);
}
.lines div{
    transition: 0.3s ease;
} 

/* .menu-icon #bars, .menu-icon #times{
    display: none;
} */
/* .menu-icon{
    font-size: 22px;
    cursor: pointer;
    display: none;
}
.show{
    position: relative;
    left: -100%;
} */

/* body */
.body{
    width: 100%;
    height: 100vh;
    background: url('https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=1000') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 40px;
}
.pre-next{
    padding: 0 40px;
}
.pre-next i{
    font-size: 35px;
    font-weight: 900;
    color: #f1c40f;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
}
.pre-next #next{
    position: absolute;
    transform: translate(-50%, 50%);
    top: 40%;
    right: 15px;
    
}
.opacity{
    transition: all 0.5s;
    opacity: 0.1;
}
.pre-next #pre{
    position: absolute;
    transform: translate(-50%, 50%);
    top: 40%;
    left: 60px;
}
.pre-next i:hover{
    transition: all 1s;
    background-color: #fff;
    color: black;
}

.radio{
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.radio #demo{
    width: 15px;
    height: 15px;
    border: 2px solid blue;
    border-radius: 50%; 
    margin-right: 13px;
    outline: none;
    cursor: pointer;
}
.radio #demo:hover{
    background-color: green;
}
.radio .active{
    background-color: green;
}

/* .body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}

.body img{
    width: 100%;
    height: 100%;

} */



.footer{
    width: 100%;
    height: 100vh;
}

/* product */
.product{
    width: 100%;
    height: auto;
}
.product .title{
    text-align: center;
    margin-bottom: 20px;
}
.product .title h2{
    text-transform:uppercase;
    padding-bottom: 3px;
    
} 
.product .title h2 span{
    border-bottom: 2px solid orange;
}

.products{
    width: 100%;
    padding: 0px 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.products .pro{
    width: 310px;
    height: 350px;
    padding: 0.3em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-bottom: 20px;
    margin: 1em;
}
.pro  .pro-img{
    width: 100%;
    height: 170px;
    margin-bottom: 15px;
}
.pro-img img{
    width: 100%;
    height: 100%;
} 
.pro .pro-content{
    width: 100%;
    height: 70px;
    /* background-color: blanchedalmond; */
    padding: 0px 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}
.pro .pro-content h4{
    margin-bottom: 8px;
    font-size: 20px;
}
.pro .pro-content p{
    width: 100%;
    margin-bottom: 8px;
    font-size: 15px;
    color: gray;
}
.pro .pro-button{
    width: 100%;
    height: 80px;
    padding: 0.5em;
}
.pro .pro-button{
    width: 100%;
    height: 90px;
    padding: 0.3em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pro .pro-button a{
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 10px 0px;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    width: 100px;
}
.pro .pro-button .view{
    background-color: blue;
}
.pro .pro-button .buy{
    background-color: green;
}
.pro .pro-button a:hover{
    opacity: 0.8;
}

/* Team */
.teams {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}
.teams .title{
    text-align: center;
    margin-bottom: 20px;
}
.teams .title h2{
    text-transform:uppercase;
    padding-bottom: 3px;
    
} 
.teams .title h2 span{
    border-bottom: 2px solid orange;
}

.team{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.team .person{
    width: 310px;
    height: 400px;
    background: #f1f1f1;
    margin: 1em;
    border-radius: 2px;

}
.team .person .img{
    width: 100%;
    height: 200px;
    padding: 0px;
    margin-bottom: 15px;
}
.team .person .img img{
    width: 100%;
    height: 100%;
}
.team .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.team .info h3{
    margin-bottom: 15px;
}
.team .info p{
    margin-bottom: 10px;
    color: skyblue;
}
.team .contact{
    display: flex;
    align-items: center;
    justify-content: center;
}
.team .contact i{
    padding: 1rem;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    transition: all 0.5s;
}
.team .contact i:hover{
    color: green;
}

/* about us */
.about{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.about .title{
    text-align: center;
    margin-bottom: 20px;
}
.about .title h2{
    text-transform: uppercase;
    padding-bottom: 3px;
}
.about .title h2 span{
    color: green;
    border-bottom: 2px solid orange;
}
.about .us{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
}
.us .content{
    width: 46%;
    margin: 1rem;
}
.us .content h3{
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 22px;
    color: green;
}
.us .content p{
    margin-bottom: 15px;
    color: gray;
}
.us .content .button{
    margin-bottom: 18px;
}
.us .content .button a{
    text-align: center;
    padding: 10px 0px;
    display: block;
    color: #fff;
    text-decoration: none;
    background-color: black;
    width: 120px;
    border-radius: 2px;
    transition: all .3s;
}
.us .content .button a:hover{
    background-color: gray;
}
.us .img{
    width: 46%;
    height: auto;
    margin: 1rem;
}
.us .img img{
    width: 80%;
    height: 80%;
}
.us .contact{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.us .contact i {
    font-size: 25px;
    margin: .5rem;
    color: rgb(235, 154, 154);
    cursor: pointer;
    transition: all .3s;
}
.us .contact i:hover{
    opacity: .8;
}
/* footer */
.footer{
    width: 100%;
    height: 8vh;
    text-align: center;
    background-color: rgb(57, 86, 131);
    line-height: 8vh;
    color: #fff;
    bottom: 0;
}

@media screen and (max-width:915px){
    .us .content{
        width: 70%;
        margin: .3rem;
    }
    .us .img{
        width: 70%;
        height: auto;
        margin: .3rem;
    }
    .us .img img{
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-width:750px) {
    .lines{
        display: block;
    }
    .menu{
        position: fixed;
        top: 9%;
        right: -100%;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        width: 40%;
        height: 100vh;
        opacity: 0.95;
        background-color: #ffffff;
        transition: all 0.5s;
        z-index: 100;
        
    }
        
    .menu li{
        opacity: 1;
        margin: 1rem 0;
    }
    .show{
        animation: menu 300ms (num * 60ms) ease-in-out forwards;
        right: 0px;
    }
    @keyframes menu {
        0% {
          opacity: 0;
          transform: translateX(60px);
        }
        
        80% {
          transform: translateX(-5px);
        }
      
        100% {
          opacity: 1;
          transform: translateX(0px);
        }
      }
}